In [ ]:
import pandas as pd

In [3]:
df = pd.read_excel("./batch_dept.xlsx")

In [9]:
df

   Batch Dept.
0     51   CSE
1     52   SWE
2     54    AB
3     84    DS
4     23   SDF
5     45    SD

In [6]:
batch_list = [51,52,54,84,23,45,43]
dept_list = ["CSE", 'SWE', 'AB', 'DS','SDF','SD','FS']

column_name = {
    'Batch': batch_list,
    'Dept.': dept_list
}

df = pd.DataFrame(column_name)

In [7]:
df

   Batch Dept.
0     51   CSE
1     52   SWE
2     54    AB
3     84    DS
4     23   SDF
5     45    SD
6     43    FS

In [6]:
df.to_excel("batch_dept.xlsx", index=False)