In [1]:
li = [10, 20 ,10]
sum = 0
for i in li:
    sum += i
    
print(sum)

40

In [2]:
li = ['A', 'A', 'B', 'C', 'A', 'B']
A, B, C = 0, 0, 0

for i in li:
    if i == 'A':
        A += 1
    elif i == 'B':
        B += 1
    elif i == 'C':
        C += 1
    else:
        print('error')
        

print("A: {}, B: {}, C:{}".format(A,B,C))

A: 3, B: 2, C:1

In [3]:
li = ['A', 'A', 'B', 'C', 'A', 'B']
A = li.count('A')
B = li.count('B') 
C = li.count('C') 

print("A: {}, B: {}, C:{}".format(A,B,C))

A: 3, B: 2, C:1

In [4]:
import pandas as pd


info = {
    "Student Name": ['AA', 'BB', 'CC', 'DD'],
    "CSE412": ['A','A+','A-', 'B'], 
    "CSE425": [3.75, 4, 2.50, 3.5],
    "CSE436": ['B', 'B+','C', 'A']
}
# print(info)

df = pd.DataFrame(info)
df.to_csv("demo.csv",index=False)

In [1]:
new_dict = {
    "name": ['Gazi', 'Ashiq'],
    "address": ['Laksham', 'Cumilla']
}